@{
    ViewBag.Title = "Sistema Monster - Inicio";
}

<main>
    <section class="row" aria-labelledby="systemTitle">
        <h1 id="title">Bienvenido al Sistema Administrativo</h1>
        <p class="lead">Gestiona eficientemente las operaciones de tu local con nuestra plataforma de administración.</p>
        <p><a href="#" class="btn btn-primary btn-md">Explorar características &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="manageInventoryTitle">
            <h2 id="manageInventoryTitle">Gestión de Inventario</h2>
            <p>
                Administra tu inventario de productos de manera sencilla y mantén un control preciso de tus existencias.
                Realiza seguimiento de entradas y salidas.
            </p>
            <p><a class="btn btn-outline-dark" href="#">Más detalles &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="trackSalesTitle">
            <h2 id="trackSalesTitle">Seguimiento de Ventas</h2>
            <p>Lleva un registro detallado de las ventas realizadas. Analiza tendencias y obtén información valiosa para la toma de decisiones.</p>
            <p><a class="btn btn-outline-dark" href="#">Más detalles &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="financialReportsTitle">
            <h2 id="financialReportsTitle">Informes Financieros</h2>
            <p>Accede a informes financieros y estadísticas que te ayudarán a evaluar el rendimiento de tu negocio en diferentes periodos.</p>
            <p><a class="btn btn-outline-dark" href="#">Más detalles &raquo;</a></p>
        </section>
    </div>
</main>
